In [27]:
URL = "https://en.wikipedia.org/wiki/List_of_world_records_in_swimming"
URL_GR = "https://graphenesq.co.kr"

import gazpacho
html = gazpacho.get(URL)
len(html)

572309

In [28]:
fav = "Life, the Universe and Everything.."

fav[-13:]

' Everything..'

In [29]:
html [133:150]

'ed vector-feature'

In [30]:
from_where = html.find("<table")
html[from_where:from_where+500]

'<table class="wikitable sortable" style="font-size: 95%;">\n<caption>\n</caption>\n<tbody><tr>\n<th>Event\n</th>\n<th style="width:4em" class="unsortable">Time\n</th>\n<th class="unsortable">\n</th>\n<th>Name</th>\n<th>Nationality</th>\n<th>Date</th>\n<th>Meet</th>\n<th>Location\n</th>\n<th class="unsortable">Ref\n</th></tr>\n\n<tr>\n<td><span data-sort-value="01&#160;!"><a href="/wiki/World_record_progression_50_metres_freestyle" title="World record progression 50 metres freestyle">50m freestyle</a></span>\n</td>\n<'

In [31]:
soup = gazpacho.Soup(html)
type(soup)

gazpacho.soup.Soup

In [32]:
print(dir(soup))

['attrs', 'find', 'get', 'html', 'strip', 'tag', 'text']

In [33]:
tables = soup.find("table")

In [34]:
type(tables)

list

In [35]:
type(tables[0])

gazpacho.soup.Soup

In [36]:
len(tables)

11

In [37]:
rows = tables[0].find("tr", mode = "all")
type(rows)

list

In [38]:
len(rows)

21

In [39]:
rows[0]

<tr>
  <th>Event
</th>
  <th style="width:4em" class="unsortable">Time
</th>
  <th class="unsortable">
</th>
  <th>Name</th>
  <th>Nationality</th>
  <th>Date</th>
  <th>Meet</th>
  <th>Location
</th>
  <th class="unsortable">Ref
</th>
</tr>

In [40]:

for n, table in enumerate(tables):
    rows = table.find("tr", mode = "all")
    cols = rows[-1].find("td", mode = "all")
    print(f"{n} ->{len(rows)} rows, {len(cols)} cols")

0 ->21 rows, 9 cols
1 ->21 rows, 9 cols
2 ->3 rows, 9 cols
3 ->25 rows, 9 cols
4 ->27 rows, 9 cols
5 ->4 rows, 9 cols
6 ->25 rows, 11 cols
7 ->1 rows, 2 cols
8 ->7 rows, 1 cols
9 ->5 rows, 1 cols
10 ->8 rows, 1 cols

In [41]:
table = tables[0]
for row in table.find("tr", mode = "all")[1:]:
    cols = row.find("td", mode = "all")
    event = cols[0].text
    time = cols[1].text
    print(f"\t{event} -> {time}")
print()

	50m freestyle -> 20.91
	100m freestyle -> 46.40
	200m freestyle -> 1:42.00
	400m freestyle -> 3:39.96
	800m freestyle -> 7:32.12
	1500m freestyle -> 14:30.67
	50m backstroke -> 23.55
	100m backstroke -> 51.60
	200m backstroke -> 1:51.92
	50m breaststroke -> 25.95
	100m breaststroke -> 56.88
	200m breaststroke -> 2:05.48
	50m butterfly -> 22.27
	100m butterfly -> 49.45
	200m butterfly -> 1:50.34
	200m individual medley -> 1:52.69
	400m individual medley -> 4:02.50
	4 × 100 m freestyle relay -> 3:08.24
	4 × 200 m freestyle relay -> 6:58.55
	4 × 100 m medley relay -> 3:26.78

In [ ]:
RECORDS = (0, 2, 4, 5)
COURSES = ("LC Men", "LC Women", "SC Men", "SC Women")

for table, course in zip(RECORDS, COURSES):
    print (f"{course}:")
    # The current value of "table" is used to index into the "Tables"
    # list to grab the world records table you need
    for row in tables[table].find("tr", mode = "all")[1:]:
        cols = row.find("td", mode = "all")
        event = cols[0].text
        time = cols[1].text
        # a tab character formats the output by inserting whitespace before each line of output
        print(f"\t{event} -> {time}")
    # when you ask "print" to display nothing, it completely ignores you and displays a blank line
    # instead (which is a "sort of" nothing)
    print()

LC Men:
	50m freestyle -> 20.91
	100m freestyle -> 46.40
	200m freestyle -> 1:42.00
	400m freestyle -> 3:39.96
	800m freestyle -> 7:32.12
	1500m freestyle -> 14:30.67
	50m backstroke -> 23.55
	100m backstroke -> 51.60
	200m backstroke -> 1:51.92
	50m breaststroke -> 25.95
	100m breaststroke -> 56.88
	200m breaststroke -> 2:05.48
	50m butterfly -> 22.27
	100m butterfly -> 49.45
	200m butterfly -> 1:50.34
	200m individual medley -> 1:52.69
	400m individual medley -> 4:02.50
	4 × 100 m freestyle relay -> 3:08.24
	4 × 200 m freestyle relay -> 6:58.55
	4 × 100 m medley relay -> 3:26.78

LC Women:
	4 × 100 m freestyle relay -> 3:18.48
	4 × 100 m medley relay -> 3:37.43

SC Men:
	50m freestyle -> 22.83
	100m freestyle -> 49.93
	200m freestyle -> 1:49.36
	400m freestyle -> 3:50.25
	800m freestyle -> 7:54.00
	1500m freestyle -> 15:08.24
	50m backstroke -> 25.23
	100m backstroke -> 54.02
	100m backstroke -> 54.02
	200m backstroke -> 1:57.33
	50m breaststroke -> 28.37
	100m breaststroke -> 1:02.36
	100m breaststroke -> 1:02.36
	100m breaststroke -> 1:02.36
	200m breaststroke -> 2:12.50
	50m butterfly -> 23.72
	100m butterfly -> 52.71
	200m butterfly -> 1:59.32
	100m individual medley -> 55.11
	200m individual medley -> 2:01.63
	400m individual medley -> 4:15.48
	4 × 50 m freestyle relay -> 1:32.50
	4 × 100 m freestyle relay -> 3:25.01
	4 × 200 m freestyle relay -> 7:30.13
	4 × 50 m medley relay -> 1:42.35
	4 × 100 m medley relay -> 3:40.41

SC Women:
	4 × 50 m freestyle relay -> 1:27.26
	4 × 50 m medley relay -> 1:35.15
	4 × 100 m medley relay -> 3:30.47

In [ ]:
update_display