In [4]:
fn = "Abi-10-100m-Back.txt"
name, age, distance, stroke = fn.removesuffix(".txt").split("-")

In [5]:
name, age

('Abi', '10')

In [ ]:
import os

FOLDER = "swimdata"

files = os.listdir(FOLDER)

In [ ]:
first = files[0]
print(first)
name, age, _, _ = first.removesuffix(".txt").split("-")
name, age

Hannah-13-100m-Free.txt

('Hannah', '13')

In [ ]:
import os
from DBcm import UseDatabase

db_details = "CoachDB.sqlite3"
FOLDER = "swimdata"

files = os.listdir(FOLDER)

SQL_SELECT= """
    select * from swimmers
    where name = ? and age = ?
"""

SQL_INSERT = """
    insert into swimmers
    (name, age)
    values
    (?, ?)
"""

with UseDatabase(db_details) as db:
    for fn in files:
        name, age, _, _ = fn.removesuffix(".txt").split("-")
        db.execute(SQL_SELECT, (name, age,))
        if db.fetchall():
            continue
        db.execute(SQL_INSERT, (name, age,))

In [ ]:
SQL = """delete from swimmers"""
with UseDatabase(db_details) as db:
    db.execute(SQL)
    results = db.fetchall()
results

[]

In [ ]:
SQL = """select * from swimmers"""
with UseDatabase(db_details) as db:
    db.execute(SQL)
    results = db.fetchall()
results

[]

In [ ]:
import os
from DBcm import UseDatabase

db_details = "CoachDB.sqlite3"
FOLDER = "swimdata"

files = os.listdir(FOLDER)

SQL_SELECT= """
    select * from events
    where distance = ? and stroke = ?
"""

SQL_INSERT = """
    insert into events
    (distance, stroke)
    values
    (?, ?)
"""

with UseDatabase(db_details) as db:
    for fn in files:
        _, _, distance, stroke = fn.removesuffix(".txt").split("-")
        db.execute(SQL_SELECT, (distance, stroke,))
        if db.fetchall():
            continue
        db.execute(SQL_INSERT, (distance, stroke,))

In [ ]:
SQL = """select * from events"""
with UseDatabase(db_details) as db:
    db.execute(SQL)
    results = db.fetchall()
results

[(1, '100m', 'Free'),
 (2, '100m', 'Back'),
 (3, '100m', 'Fly'),
 (4, '50m', 'Back'),
 (5, '200m', 'Free'),
 (6, '200m', 'Back'),
 (7, '50m', 'Free'),
 (8, '50m', 'Breast'),
 (9, '200m', 'IM'),
 (10, '100m', 'Breast'),
 (11, '400m', 'Free'),
 (12, '50m', 'Fly'),
 (13, '200m', 'Breast')]

In [ ]:
with UseDatabase(db_details) as db:
    db.execute("pragma table_info(times)")
    results = db.fetchall()
results

[(0, 'swimmer_id', 'INTEGER', 1, None, 1),
 (1, 'event_id', 'INTEGER', 1, None, 0),
 (2, 'time', 'varchar(16)', 1, None, 0),
 (3, 'ts', 'timestamp', 0, 'current_timestamp', 0)]

In [ ]:
SQL = """select * from times"""
with UseDatabase(db_details) as db:
    db.execute(SQL)
    results = db.fetchall()
results

[(937, 1, '1:21.43', '2025-12-16 19:29:26'),
 (981, 1, '1:21.43', '2025-12-16 19:42:18'),
 (1041, 1, '1:21.43', '2025-12-16 19:42:29')]

SyntaxError: invalid syntax (504004997.py, line 1)

In [ ]:
SQL = """delete from times"""
with UseDatabase(db_details) as db:
    db.execute(SQL)

In [ ]:
import os
from DBcm import UseDatabase

db_details = "CoachDB.sqlite3"

FOLDER = "swimdata/"

files = os.listdir(FOLDER)

SQL_GET_SWIMMER = """
    select id from swimmers
    where name = ? and age = ?
"""

SQL_GET_EVENT = """
    select id from events
    where distance = ? and stroke = ?
"""
SQL_INSERT = """
    insert into times
    (swimmer_id, event_id, time)
    values
    (?, ?, ?)
"""

with UseDatabase(db_details) as db:
    for fn in files:
        name, age, distance, stroke = fn.removesuffix(".txt").split("-")
        db.execute(SQL_GET_SWIMMER, (name, age,))
        s_id = db.fetchone()[0]
        db.execute(SQL_GET_EVENT, (distance, stroke,))
        e_id = db.fetchone()[0]
        with open(FOLDER+fn) as sf:
            times = sf.read().strip().split(",")
            for t in times:
                db.execute(SQL_INSERT, (s_id, e_id, t,))

TypeError: 'NoneType' object is not subscriptable