In [39]:
fn = 'Abi-10-100m-Back.txt'
name, age, distance, stroke = fn.removesuffix(".txt").split("-")

In [40]:
name, age

('Abi', '10')

In [41]:
distance, stroke

('100m', 'Back')

In [42]:
import os

FOLDER = "swimdata/"

files = os.listdir(FOLDER)

In [43]:
first = files[0]
print(first)
name, age, _, _ = first.removesuffix(".txt").split("-")
name, age

Hannah-13-100m-Free.txt

('Hannah', '13')

In [44]:
# Don't be tempted to do this (i.e., don't use an f-string here).

SQL = f"""
    insert into swimmers
    (name, age)
    values
    ("{name}", {age})
"""
print(SQL)

    insert into swimmers
    (name, age)
    values
    ("Hannah", 13)

In [45]:
import DBcm

db_details = "CoachDB.sqlite3"

In [46]:
# Do this instead... use SQL Injection Attack safeguards with placeholders.

SQL_INSERT = """
    insert into swimmers
    (name, age)
    values
    (?, ?)
"""
print(SQL_INSERT)

    insert into swimmers
    (name, age)
    values
    (?, ?)

In [47]:
with DBcm.UseDatabase(db_details) as db:
    db.execute(SQL_INSERT, (name, age,))

In [48]:
SQL = """select * from swimmers"""
with DBcm.UseDatabase(db_details) as db:
    db.execute(SQL)
    results = db.fetchall()
results

[(288, 'Hannah', 13),
 (289, 'Darius', 13),
 (290, 'Owen', 15),
 (291, 'Mike', 15),
 (292, 'Abi', 10),
 (293, 'Ruth', 13),
 (294, 'Tasmin', 15),
 (295, 'Erika', 15),
 (296, 'Maria', 9),
 (297, 'Elba', 14),
 (298, 'Ali', 12),
 (299, 'Chris', 17),
 (300, 'Aurora', 13),
 (301, 'Katie', 9),
 (302, 'Alison', 14),
 (303, 'Emma', 13),
 (304, 'Calvin', 9),
 (305, 'Blake', 15),
 (306, 'Bill', 18),
 (307, 'Dave', 17),
 (308, 'Lizzie', 14),
 (309, 'Carl', 15),
 (310, 'Hannah', 13)]

In [49]:
SQL = """delete from swimmers"""
with DBcm.UseDatabase(db_details) as db:
    db.execute(SQL)

In [50]:
SQL = """select * from swimmers"""
with DBcm.UseDatabase(db_details) as db:
    db.execute(SQL)
    results = db.fetchall()
results

[]

In [51]:
SQL = """delete from swimmers"""
with DBcm.UseDatabase(db_details) as db:
    db.execute(SQL)

In [52]:
# for fn in files:
#     name, age, _, _ = fn.removesuffix(".txt").split("-")
#     with DBcm.UseDatabase(db_details) as db:
#         db.execute(SQL_INSERT, (name, age, ))

In [53]:
import os

import DBcm

db_details = "CoachDB.sqlite3"

FOLDER = "swimdata/"

files = os.listdir(FOLDER)


SQL_INSERT = """
    insert into swimmers
    (name, age)
    values
    (?, ?)
"""

with DBcm.UseDatabase(db_details) as db:
    for fn in files:
        name, age, _, _ = fn.removesuffix(".txt").split("-")    
        db.execute(SQL_INSERT, (name, age, ))

In [54]:
SQL = """delete from swimmers"""
with DBcm.UseDatabase(db_details) as db:
    db.execute(SQL)

In [55]:
import os

import DBcm

db_details = "CoachDB.sqlite3"

FOLDER = "swimdata/"

files = os.listdir(FOLDER)


SQL_SELECT = """
    select * from swimmers
    where name = ? and age = ?
"""

SQL_INSERT = """
    insert into swimmers
    (name, age)
    values
    (?, ?)
"""

with DBcm.UseDatabase(db_details) as db:
    for fn in files:
        name, age, _, _ = fn.removesuffix(".txt").split("-")
        db.execute(SQL_SELECT, (name, age,))
        if db.fetchall():
            continue
        db.execute(SQL_INSERT, (name, age,))

In [56]:
import os

import DBcm

db_details = "CoachDB.sqlite3"

FOLDER = "swimdata/"

files = os.listdir(FOLDER)


SQL_SELECT = """
    select * from events
    where distance = ? and stroke = ?
"""

SQL_INSERT = """
    insert into events
    (distance, stroke)
    values
    (?, ?)
"""

with DBcm.UseDatabase(db_details) as db:
    for fn in files:
        _, _, distance, stroke = fn.removesuffix(".txt").split("-")
        db.execute(SQL_SELECT, (distance, stroke,))
        if db.fetchall():
            continue
        db.execute(SQL_INSERT, (distance, stroke,))

In [57]:
import os

FOLDER = "swimdata/"

files = os.listdir(FOLDER)

In [58]:
import DBcm

db_details = "CoachDB.sqlite3"

In [59]:
SQL = """select * from swimmers"""
with DBcm.UseDatabase(db_details) as db:
    db.execute(SQL)
    results = db.fetchall()
results

[(371, 'Hannah', 13),
 (372, 'Darius', 13),
 (373, 'Owen', 15),
 (374, 'Mike', 15),
 (375, 'Abi', 10),
 (376, 'Ruth', 13),
 (377, 'Tasmin', 15),
 (378, 'Erika', 15),
 (379, 'Maria', 9),
 (380, 'Elba', 14),
 (381, 'Ali', 12),
 (382, 'Chris', 17),
 (383, 'Aurora', 13),
 (384, 'Katie', 9),
 (385, 'Alison', 14),
 (386, 'Emma', 13),
 (387, 'Calvin', 9),
 (388, 'Blake', 15),
 (389, 'Bill', 18),
 (390, 'Dave', 17),
 (391, 'Lizzie', 14),
 (392, 'Carl', 15)]

In [60]:
SQL = """select * from events"""
with DBcm.UseDatabase(db_details) as db:
    db.execute(SQL)
    results = db.fetchall()
results

[(14, '100m', 'Free'),
 (15, '100m', 'Back'),
 (16, '100m', 'Fly'),
 (17, '50m', 'Back'),
 (18, '200m', 'Free'),
 (19, '200m', 'Back'),
 (20, '50m', 'Free'),
 (21, '50m', 'Breast'),
 (22, '200m', 'IM'),
 (23, '100m', 'Breast'),
 (24, '400m', 'Free'),
 (25, '50m', 'Fly'),
 (26, '200m', 'Breast')]

In [61]:
with DBcm.UseDatabase(db_details) as db:
    db.execute("pragma table_info(times)")
    results = db.fetchall()
print(results)

[(0, 'swimmer_id', 'INTEGER', 1, None, 0), (1, 'event_id', 'INTEGER', 1, None, 0), (2, 'time', 'varchar(16)', 1, None, 0), (3, 'ts', 'timestamp', 0, 'current_timestamp', 0)]

In [62]:
SQL_GET_SWIMMER = """
    select id from swimmers
    where name = ? and age = ?
"""

In [63]:
SQL_GET_EVENT = """
    select id from events
    where distance = ? and stroke = ?
"""

In [64]:
SQL_INSERT_TIMES = """
    insert into times
    (swimmer_id, event_id, time)
    values
    (?, ?, ?)
"""

In [65]:
SQL = """select * from times"""
with DBcm.UseDatabase(db_details) as db:
    db.execute(SQL)
    results = db.fetchall()
results

[(288, 14, '1:21.43', '2023-05-15 19:33:12'),
 (288, 14, '1:21.40', '2023-05-15 19:33:12'),
 (288, 14, '1:21.62', '2023-05-15 19:33:12'),
 (288, 14, '1:25.38', '2023-05-15 19:33:12'),
 (289, 15, '1:22.57', '2023-05-15 19:33:12'),
 (289, 15, '1:29.64', '2023-05-15 19:33:12'),
 (289, 15, '1:20.39', '2023-05-15 19:33:12'),
 (289, 15, '1:23.83', '2023-05-15 19:33:12'),
 (290, 14, '1:15.57', '2023-05-15 19:33:12'),
 (290, 14, '1:14.40', '2023-05-15 19:33:12'),
 (290, 14, '1:19.82', '2023-05-15 19:33:12'),
 (290, 14, '1:12.90', '2023-05-15 19:33:12'),
 (291, 14, '1:02.52', '2023-05-15 19:33:12'),
 (291, 14, '1:02.56', '2023-05-15 19:33:12'),
 (291, 14, '1:06.41', '2023-05-15 19:33:12'),
 (291, 14, '1:07.08', '2023-05-15 19:33:12'),
 (291, 14, '1:02.56', '2023-05-15 19:33:12'),
 (291, 14, '1:03.23', '2023-05-15 19:33:12'),
 (291, 14, '1:04.54', '2023-05-15 19:33:12'),
 (288, 15, '1:35.75', '2023-05-15 19:33:12'),
 (288, 15, '1:32.78', '2023-05-15 19:33:12'),
 (288, 15, '1:34.01', '2023-05-15 19:33:12'),
 (288, 15, '1:32.57', '2023-05-15 19:33:12'),
 (291, 15, '1:19.23', '2023-05-15 19:33:12'),
 (291, 15, '1:13.70', '2023-05-15 19:33:12'),
 (291, 15, '1:13.96', '2023-05-15 19:33:12'),
 (291, 15, '1:15.94', '2023-05-15 19:33:12'),
 (291, 16, '1:14.55', '2023-05-15 19:33:12'),
 (291, 16, '1:14.15', '2023-05-15 19:33:12'),
 (291, 16, '1:08.38', '2023-05-15 19:33:12'),
 (291, 16, '1:08.74', '2023-05-15 19:33:12'),
 (291, 16, '1:10.89', '2023-05-15 19:33:12'),
 (291, 16, '1:09.47', '2023-05-15 19:33:12'),
 (291, 16, '1:09.52', '2023-05-15 19:33:12'),
 (291, 16, '1:09.86', '2023-05-15 19:33:12'),
 (291, 16, '1:09.83', '2023-05-15 19:33:12'),
 (292, 17, '41.50', '2023-05-15 19:33:12'),
 (292, 17, '43.58', '2023-05-15 19:33:12'),
 (292, 17, '42.35', '2023-05-15 19:33:12'),
 (292, 17, '43.35', '2023-05-15 19:33:12'),
 (292, 17, '39.85', '2023-05-15 19:33:12'),
 (292, 17, '40.53', '2023-05-15 19:33:12'),
 (292, 17, '42.14', '2023-05-15 19:33:12'),
 (292, 17, '39.18', '2023-05-15 19:33:12'),
 (292, 17, '40.89', '2023-05-15 19:33:12'),
 (292, 17, '40.89', '2023-05-15 19:33:12'),
 (293, 18, '2:22.64', '2023-05-15 19:33:12'),
 (293, 18, '2:28.16', '2023-05-15 19:33:12'),
 (293, 18, '2:28.38', '2023-05-15 19:33:12'),
 (293, 18, '2:25.08', '2023-05-15 19:33:12'),
 (293, 18, '2:25.64', '2023-05-15 19:33:12'),
 (293, 18, '2:33.58', '2023-05-15 19:33:12'),
 (294, 15, '1:19.63', '2023-05-15 19:33:12'),
 (294, 15, '1:16.69', '2023-05-15 19:33:12'),
 (294, 15, '1:19.68', '2023-05-15 19:33:12'),
 (294, 15, '1:16.56', '2023-05-15 19:33:12'),
 (295, 14, '1:19.04', '2023-05-15 19:33:12'),
 (295, 14, '1:15.88', '2023-05-15 19:33:12'),
 (295, 14, '1:18.62', '2023-05-15 19:33:12'),
 (295, 14, '1:21.74', '2023-05-15 19:33:12'),
 (293, 19, '2:56.68', '2023-05-15 19:33:12'),
 (293, 19, '2:42.63', '2023-05-15 19:33:12'),
 (293, 19, '2:40.90', '2023-05-15 19:33:12'),
 (293, 19, '2:42.88', '2023-05-15 19:33:12'),
 (293, 19, '2:46.09', '2023-05-15 19:33:12'),
 (292, 20, '39.07', '2023-05-15 19:33:12'),
 (292, 20, '37.66', '2023-05-15 19:33:12'),
 (292, 20, '36.13', '2023-05-15 19:33:12'),
 (292, 20, '39.42', '2023-05-15 19:33:12'),
 (296, 20, '45.75', '2023-05-15 19:33:12'),
 (296, 20, '41.62', '2023-05-15 19:33:12'),
 (296, 20, '40.49', '2023-05-15 19:33:12'),
 (296, 20, '41.00', '2023-05-15 19:33:12'),
 (297, 14, '1:06.01', '2023-05-15 19:33:12'),
 (297, 14, '1:06.93', '2023-05-15 19:33:12'),
 (297, 14, '1:05.34', '2023-05-15 19:33:12'),
 (297, 14, '1:06.10', '2023-05-15 19:33:12'),
 (294, 14, '1:08.87', '2023-05-15 19:33:12'),
 (294, 14, '1:07.34', '2023-05-15 19:33:12'),
 (294, 14, '1:11.00', '2023-05-15 19:33:12'),
 (294, 14, '1:08.62', '2023-05-15 19:33:12'),
 (294, 14, '1:10.94', '2023-05-15 19:33:12'),
 (294, 14, '1:09.52', '2023-05-15 19:33:12'),
 (294, 14, '1:12.04', '2023-05-15 19:33:12'),
 (294, 14, '1:10.91', '2023-05-15 19:33:12'),
 (292, 15, '1:31.59', '2023-05-15 19:33:12'),
 (292, 15, '1:26.55', '2023-05-15 19:33:12'),
 (292, 15, '1:28.75', '2023-05-15 19:33:12'),
 (292, 15, '1:39.79', '2023-05-15 19:33:12'),
 (292, 15, '1:32.37', '2023-05-15 19:33:12'),
 (292, 21, '48.08', '2023-05-15 19:33:12'),
 (292, 21, '53.17', '2023-05-15 19:33:12'),
 (292, 21, '45.76', '2023-05-15 19:33:12'),
 (292, 21, '49.28', '2023-05-15 19:33:12'),
 (292, 21, '52.85', '2023-05-15 19:33:12'),
 (292, 21, '46.19', '2023-05-15 19:33:12'),
 (292, 21, '47.76', '2023-05-15 19:33:12'),
 (292, 21, '48.83', '2023-05-15 19:33:12'),
 (292, 21, '45.71', '2023-05-15 19:33:12'),
 (292, 21, '47.76', '2023-05-15 19:33:12'),
 (291, 22, '2:48.05', '2023-05-15 19:33:12'),
 (291, 22, '2:44.03', '2023-05-15 19:33:12'),
 (291, 22, '2:38.93', '2023-05-15 19:33:12'),
 (291, 22, '2:54.86', '2023-05-15 19:33:12'),
 (298, 15, '1:36.54', '2023-05-15 19:33:12'),
 (298, 15, '1:39.10', '2023-05-15 19:33:12'),
 (298, 15, '1:39.45', '2023-05-15 19:33:12'),
 (298, 15, '1:42.87', '2023-05-15 19:33:12'),
 (293, 15, '1:17.16', '2023-05-15 19:33:12'),
 (293, 15, '1:16.65', '2023-05-15 19:33:12'),
 (293, 15, '1:23.11', '2023-05-15 19:33:12'),
 (293, 15, '1:14.37', '2023-05-15 19:33:12'),
 (293, 15, '1:18.16', '2023-05-15 19:33:12'),
 (293, 15, '1:18.28', '2023-05-15 19:33:12'),
 (293, 15, '1:16.87', '2023-05-15 19:33:12'),
 (293, 15, '1:17.37', '2023-05-15 19:33:12'),
 (293, 15, '1:20.46', '2023-05-15 19:33:12'),
 (299, 15, '1:21.76', '2023-05-15 19:33:12'),
 (299, 15, '1:23.32', '2023-05-15 19:33:12'),
 (299, 15, '1:24.09', '2023-05-15 19:33:12'),
 (299, 15, '1:21.51', '2023-05-15 19:33:12'),
 (298, 14, '1:27.31', '2023-05-15 19:33:12'),
 (298, 14, '1:27.00', '2023-05-15 19:33:12'),
 (298, 14, '1:27.46', '2023-05-15 19:33:12'),
 (298, 14, '1:22.50', '2023-05-15 19:33:12'),
 (298, 14, '1:20.39', '2023-05-15 19:33:12'),
 (298, 14, '1:26.04', '2023-05-15 19:33:12'),
 (298, 14, '1:20.22', '2023-05-15 19:33:12'),
 (289, 23, '1:30.24', '2023-05-15 19:33:12'),
 (289, 23, '1:33.18', '2023-05-15 19:33:12'),
 (289, 23, '1:32.73', '2023-05-15 19:33:12'),
 (289, 23, '1:33.05', '2023-05-15 19:33:12'),
 (289, 23, '1:30.81', '2023-05-15 19:33:12'),
 (289, 23, '1:31.74', '2023-05-15 19:33:12'),
 (289, 23, '1:31.53', '2023-05-15 19:33:12'),
 (289, 23, '1:33.05', '2023-05-15 19:33:12'),
 (293, 14, '1:07.99', '2023-05-15 19:33:12'),
 (293, 14, '1:11.87', '2023-05-15 19:33:12'),
 (293, 14, '1:11.08', '2023-05-15 19:33:12'),
 (293, 14, '1:09.75', '2023-05-15 19:33:12'),
 (300, 20, '30.05', '2023-05-15 19:33:12'),
 (300, 20, '30.21', '2023-05-15 19:33:12'),
 (300, 20, '28.86', '2023-05-15 19:33:12'),
 (300, 20, '30.65', '2023-05-15 19:33:12'),
 (300, 20, '30.03', '2023-05-15 19:33:12'),
 (300, 20, '29.64', '2023-05-15 19:33:12'),
 (300, 20, '29.82', '2023-05-15 19:33:12'),
 (301, 23, '1:50.10', '2023-05-15 19:33:12'),
 (301, 23, '1:47.12', '2023-05-15 19:33:12'),
 (301, 23, '1:54.65', '2023-05-15 19:33:12'),
 (301, 23, '1:51.03', '2023-05-15 19:33:12'),
 (302, 23, '1:34.71', '2023-05-15 19:33:12'),
 (302, 23, '1:37.87', '2023-05-15 19:33:12'),
 (302, 23, '1:35.15', '2023-05-15 19:33:12'),
 (302, 23, '1:37.20', '2023-05-15 19:33:12'),
 (302, 23, '1:36.29', '2023-05-15 19:33:12'),
 (302, 23, '1:36.00', '2023-05-15 19:33:12'),
 (302, 23, '1:35.63', '2023-05-15 19:33:12'),
 (302, 23, '1:35.42', '2023-05-15 19:33:12'),
 (302, 23, '1:42.01', '2023-05-15 19:33:12'),
 (293, 24, '5:11.32', '2023-05-15 19:33:12'),
 (293, 24, '5:04.12', '2023-05-15 19:33:12'),
 (293, 24, '5:20.67', '2023-05-15 19:33:12'),
 (293, 24, '5:08.31', '2023-05-15 19:33:12'),
 (293, 24, '5:04.32', '2023-05-15 19:33:12'),
 (293, 24, '5:06.77', '2023-05-15 19:33:12'),
 (293, 24, '5:13.01', '2023-05-15 19:33:12'),
 (303, 14, '1:32.21', '2023-05-15 19:33:12'),
 (303, 14, '1:33.68', '2023-05-15 19:33:12'),
 (303, 14, '1:34.10', '2023-05-15 19:33:12'),
 (303, 14, '1:28.57', '2023-05-15 19:33:12'),
 (304, 25, '39.47', '2023-05-15 19:33:12'),
 (304, 25, '37.30', '2023-05-15 19:33:12'),
 (304, 25, '41.90', '2023-05-15 19:33:12'),
 (304, 25, '42.85', '2023-05-15 19:33:12'),
 (304, 25, '39.90', '2023-05-15 19:33:12'),
 (304, 25, '38.66', '2023-05-15 19:33:12'),
 (304, 25, '38.84', '2023-05-15 19:33:12'),
 (304, 25, '37.65', '2023-05-15 19:33:12'),
 (304, 25, '39.68', '2023-05-15 19:33:12'),
 (304, 25, '37.18', '2023-05-15 19:33:12'),
 (304, 25, '43.61', '2023-05-15 19:33:12'),
 (289, 16, '1:27.95', '2023-05-15 19:33:12'),
 (289, 16, '1:21.07', '2023-05-15 19:33:12'),
 (289, 16, '1:30.96', '2023-05-15 19:33:12'),
 (289, 16, '1:23.22', '2023-05-15 19:33:12'),
 (289, 16, '1:27.95', '2023-05-15 19:33:12'),
 (289, 16, '1:28.30', '2023-05-15 19:33:12'),
 (291, 18, '2:19.77', '2023-05-15 19:33:12'),
 (291, 18, '2:41.57', '2023-05-15 19:33:12'),
 (291, 18, '2:27.88', '2023-05-15 19:33:12'),
 (291, 18, '2:37.28', '2023-05-15 19:33:12'),
 (303, 23, '2:01.15', '2023-05-15 19:33:12'),
 (303, 23, '1:57.86', '2023-05-15 19:33:12'),
 (303, 23, '1:59.38', '2023-05-15 19:33:12'),
 (303, 23, '1:57.94', '2023-05-15 19:33:12'),
 (303, 23, '1:56.97', '2023-05-15 19:33:12'),
 (294, 23, '1:20.59', '2023-05-15 19:33:12'),
 (294, 23, '1:26.48', '2023-05-15 19:33:12'),
 (294, 23, '1:24.15', '2023-05-15 19:33:12'),
 (294, 23, '1:21.96', '2023-05-15 19:33:12'),
 (305, 14, '1:02.13', '2023-05-15 19:33:12'),
 (305, 14, '1:03.25', '2023-05-15 19:33:12'),
 (305, 14, '1:04.16', '2023-05-15 19:33:12'),
 (305, 14, '1:03.17', '2023-05-15 19:33:12'),
 (305, 14, '1:04.84', '2023-05-15 19:33:12'),
 (305, 14, '1:03.88', '2023-05-15 19:33:12'),
 (305, 14, '1:04.87', '2023-05-15 19:33:12'),
 (292, 23, '1:42.97', '2023-05-15 19:33:12'),
 (292, 23, '1:43.31', '2023-05-15 19:33:12'),
 (292, 23, '1:43.50', '2023-05-15 19:33:12'),
 (292, 23, '1:40.34', '2023-05-15 19:33:12'),
 (299, 23, '1:28.86', '2023-05-15 19:33:12'),
 (299, 23, '1:29.90', '2023-05-15 19:33:12'),
 (299, 23, '1:28.12', '2023-05-15 19:33:12'),
 (299, 23, '1:28.67', '2023-05-15 19:33:12'),
 (305, 15, '1:12.71', '2023-05-15 19:33:12'),
 (305, 15, '1:19.87', '2023-05-15 19:33:12'),
 (305, 15, '1:14.94', '2023-05-15 19:33:12'),
 (305, 15, '1:11.53', '2023-05-15 19:33:12'),
 (305, 15, '1:14.94', '2023-05-15 19:33:12'),
 (306, 19, '2:29.06', '2023-05-15 19:33:12'),
 (306, 19, '2:21.49', '2023-05-15 19:33:12'),
 (306, 19, '2:24.13', '2023-05-15 19:33:12'),
 (306, 19, '2:29.40', '2023-05-15 19:33:12'),
 (289, 22, '3:03.84', '2023-05-15 19:33:12'),
 (289, 22, '3:04.27', '2023-05-15 19:33:12'),
 (289, 22, '3:01.49', '2023-05-15 19:33:12'),
 (289, 22, '3:04.27', '2023-05-15 19:33:12'),
 (289, 22, '2:52.44', '2023-05-15 19:33:12'),
 (307, 14, '59.21', '2023-05-15 19:33:12'),
 (307, 14, '59.27', '2023-05-15 19:33:12'),
 (307, 14, '58.67', '2023-05-15 19:33:12'),
 (307, 14, '59.72', '2023-05-15 19:33:12'),
 (307, 14, '59.17', '2023-05-15 19:33:12'),
 (302, 14, '1:13.86', '2023-05-15 19:33:12'),
 (302, 14, '1:12.00', '2023-05-15 19:33:12'),
 (302, 14, '1:14.69', '2023-05-15 19:33:12'),
 (302, 14, '1:10.01', '2023-05-15 19:33:12'),
 (302, 14, '1:12.24', '2023-05-15 19:33:12'),
 (302, 14, '1:11.00', '2023-05-15 19:33:12'),
 (302, 14, '1:11.20', '2023-05-15 19:33:12'),
 (302, 14, '1:12.28', '2023-05-15 19:33:12'),
 (302, 14, '1:15.46', '2023-05-15 19:33:12'),
 (302, 14, '1:16.03', '2023-05-15 19:33:12'),
 (308, 14, '1:21.08', '2023-05-15 19:33:12'),
 (308, 14, '1:11.23', '2023-05-15 19:33:12'),
 (308, 14, '1:12.46', '2023-05-15 19:33:12'),
 (308, 14, '1:16.73', '2023-05-15 19:33:12'),
 (301, 25, '40.11', '2023-05-15 19:33:12'),
 (301, 25, '45.43', '2023-05-15 19:33:12'),
 (301, 25, '50.17', '2023-05-15 19:33:12'),
 (301, 25, '43.58', '2023-05-15 19:33:12'),
 (301, 25, '52.61', '2023-05-15 19:33:12'),
 (301, 21, '47.44', '2023-05-15 19:33:12'),
 (301, 21, '52.32', '2023-05-15 19:33:12'),
 (301, 21, '57.16', '2023-05-15 19:33:12'),
 (301, 21, '56.77', '2023-05-15 19:33:12'),
 (301, 17, '43.25', '2023-05-15 19:33:12'),
 (301, 17, '47.35', '2023-05-15 19:33:12'),
 (301, 17, '46.12', '2023-05-15 19:33:12'),
 (301, 17, '45.69', '2023-05-15 19:33:12'),
 (308, 15, '1:27.10', '2023-05-15 19:33:12'),
 (308, 15, '1:26.21', '2023-05-15 19:33:12'),
 (308, 15, '1:26.42', '2023-05-15 19:33:12'),
 (308, 15, '1:35.79', '2023-05-15 19:33:12'),
 (308, 15, '1:30.47', '2023-05-15 19:33:12'),
 (294, 26, '2:54.14', '2023-05-15 19:33:12'),
 (294, 26, '3:03.58', '2023-05-15 19:33:12'),
 (294, 26, '3:02.43', '2023-05-15 19:33:12'),
 (294, 26, '2:57.99', '2023-05-15 19:33:12'),
 (301, 20, '38.94', '2023-05-15 19:33:12'),
 (301, 20, '37.76', '2023-05-15 19:33:12'),
 (301, 20, '41.83', '2023-05-15 19:33:12'),
 (301, 20, '42.81', '2023-05-15 19:33:12'),
 (307, 19, '2:35.46', '2023-05-15 19:33:12'),
 (307, 19, '2:28.30', '2023-05-15 19:33:12'),
 (307, 19, '2:35.35', '2023-05-15 19:33:12'),
 (307, 19, '2:28.84', '2023-05-15 19:33:12'),
 (295, 26, '3:27.51', '2023-05-15 19:33:12'),
 (295, 26, '3:34.70', '2023-05-15 19:33:12'),
 (295, 26, '3:27.15', '2023-05-15 19:33:12'),
 (295, 26, '3:28.45', '2023-05-15 19:33:12'),
 (295, 26, '3:34.79', '2023-05-15 19:33:12'),
 (295, 26, '3:30.21', '2023-05-15 19:33:12'),
 (295, 26, '3:33.74', '2023-05-15 19:33:12'),
 (304, 17, '38.79', '2023-05-15 19:33:12'),
 (304, 17, '39.03', '2023-05-15 19:33:12'),
 (304, 17, '41.29', '2023-05-15 19:33:12'),
 (304, 17, '39.66', '2023-05-15 19:33:12'),
 (304, 17, '41.13', '2023-05-15 19:33:12'),
 (304, 17, '38.57', '2023-05-15 19:33:12'),
 (304, 17, '39.40', '2023-05-15 19:33:12'),
 (304, 17, '41.06', '2023-05-15 19:33:12'),
 (304, 17, '40.37', '2023-05-15 19:33:12'),
 (304, 17, '43.05', '2023-05-15 19:33:12'),
 (304, 17, '37.85', '2023-05-15 19:33:12'),
 (304, 20, '35.78', '2023-05-15 19:33:12'),
 (304, 20, '36.19', '2023-05-15 19:33:12'),
 (304, 20, '36.89', '2023-05-15 19:33:12'),
 (304, 20, '34.29', '2023-05-15 19:33:12'),
 (304, 20, '34.18', '2023-05-15 19:33:12'),
 (304, 20, '35.94', '2023-05-15 19:33:12'),
 (309, 15, '1:29.78', '2023-05-15 19:33:12'),
 (309, 15, '1:28.38', '2023-05-15 19:33:12'),
 (309, 15, '1:25.03', '2023-05-15 19:33:12'),
 (309, 15, '1:25.66', '2023-05-15 19:33:12'),
 (306, 15, '1:11.34', '2023-05-15 19:33:12'),
 (306, 15, '1:05.81', '2023-05-15 19:33:12'),
 (306, 15, '1:05.75', '2023-05-15 19:33:12'),
 (306, 15, '1:05.82', '2023-05-15 19:33:12'),
 (301, 14, '1:20.81', '2023-05-15 19:33:12'),
 (301, 14, '1:23.61', '2023-05-15 19:33:12'),
 (301, 14, '1:24.80', '2023-05-15 19:33:12'),
 (301, 14, '1:22.05', '2023-05-15 19:33:12'),
 (301, 14, '1:22.58', '2023-05-15 19:33:12'),
 (301, 14, '1:23.94', '2023-05-15 19:33:12'),
 (305, 16, '1:11.49', '2023-05-15 19:33:12'),
 (305, 16, '1:10.16', '2023-05-15 19:33:12'),
 (305, 16, '1:12.59', '2023-05-15 19:33:12'),
 (305, 16, '1:11.63', '2023-05-15 19:33:12'),
 (305, 16, '1:09.43', '2023-05-15 19:33:12'),
 (295, 23, '1:36.72', '2023-05-15 19:33:12'),
 (295, 23, '1:34.78', '2023-05-15 19:33:12'),
 (295, 23, '1:34.05', '2023-05-15 19:33:12'),
 (295, 23, '1:32.78', '2023-05-15 19:33:12'),
 (295, 23, '1:33.51', '2023-05-15 19:33:12'),
 (295, 23, '1:33.29', '2023-05-15 19:33:12'),
 (295, 23, '1:36.47', '2023-05-15 19:33:12'),
 (295, 23, '1:31.82', '2023-05-15 19:33:12'),
 (301, 15, '1:33.36', '2023-05-15 19:33:12'),
 (301, 15, '1:31.52', '2023-05-15 19:33:12'),
 (301, 15, '1:28.10', '2023-05-15 19:33:12'),
 (301, 15, '1:33.37', '2023-05-15 19:33:12'),
 (301, 15, '1:32.89', '2023-05-15 19:33:12'),
 (301, 15, '1:33.38', '2023-05-15 19:33:12'),
 (301, 15, '1:32.03', '2023-05-15 19:33:12'),
 (301, 15, '1:32.71', '2023-05-15 19:33:12')]

In [66]:
SQL = """delete from times"""
with DBcm.UseDatabase(db_details) as db:
    db.execute(SQL)

In [67]:
with DBcm.UseDatabase(db_details) as db:
    for fn in files:
        name, age, distance, stroke = fn.removesuffix(".txt").split("-")
        db.execute(SQL_GET_SWIMMER, (name, age,))
        s_id = db.fetchone()[0]
        db.execute(SQL_GET_EVENT, (distance, stroke,))
        e_id = db.fetchone()[0]
        with open(FOLDER+fn) as sf:
            times = sf.read().strip().split(",")
            for t in times:
                db.execute(SQL_INSERT_TIMES, (s_id, e_id, t,))

In [68]:
SQL = """select count(*) from times"""
with DBcm.UseDatabase(db_details) as db:
    db.execute(SQL)
    results = db.fetchone()[0]
results

338

In [69]:
SQL = """select * from times limit 10"""
with DBcm.UseDatabase(db_details) as db:
    db.execute(SQL)
    results = db.fetchall()
results

[(371, 14, '1:21.43', '2025-12-16 21:04:03'),
 (371, 14, '1:21.40', '2025-12-16 21:04:03'),
 (371, 14, '1:21.62', '2025-12-16 21:04:03'),
 (371, 14, '1:25.38', '2025-12-16 21:04:03'),
 (372, 15, '1:22.57', '2025-12-16 21:04:03'),
 (372, 15, '1:29.64', '2025-12-16 21:04:03'),
 (372, 15, '1:20.39', '2025-12-16 21:04:03'),
 (372, 15, '1:23.83', '2025-12-16 21:04:03'),
 (373, 14, '1:15.57', '2025-12-16 21:04:03'),
 (373, 14, '1:14.40', '2025-12-16 21:04:03')]