In [30]:
fn = 'Abi-10-100m-Back.txt'
name, age, distance, stroke = fn.removesuffix(".txt").split("-")

In [31]:
name, age

('Abi', '10')

In [32]:
distance, stroke

('100m', 'Back')

In [33]:
import os

FOLDER = "swimdata/"

files = os.listdir(FOLDER)

In [34]:
first = files[0]
print(first)
name, age, _, _ = first.removesuffix(".txt").split("-")
name, age

Hannah-13-100m-Free.txt

('Hannah', '13')

In [35]:
# Don't be tempted to do this (i.e., don't use an f-string here).

SQL = f"""
    insert into swimmers
    (name, age)
    values
    ("{name}", {age})
"""
print(SQL)

    insert into swimmers
    (name, age)
    values
    ("Hannah", 13)

In [36]:
import DBcm

db_details = "CoachDB.sqlite3"

In [37]:
# Do this instead... use SQL Injection Attack safeguards with placeholders.

SQL_INSERT = """
    insert into swimmers
    (name, age)
    values
    (?, ?)
"""
print(SQL_INSERT)

    insert into swimmers
    (name, age)
    values
    (?, ?)

In [38]:
with DBcm.UseDatabase(db_details) as db:
    db.execute(SQL_INSERT, (name, age,))

In [39]:
SQL = """select * from swimmers"""
with DBcm.UseDatabase(db_details) as db:
    db.execute(SQL)
    results = db.fetchall()
results

[(1892, 'Hannah', 13),
 (1893, 'Darius', 13),
 (1894, 'Owen', 15),
 (1895, 'Mike', 15),
 (1896, 'Abi', 10),
 (1897, 'Ruth', 13),
 (1898, 'Tasmin', 15),
 (1899, 'Erika', 15),
 (1900, 'Maria', 9),
 (1901, 'Elba', 14),
 (1902, 'Ali', 12),
 (1903, 'Chris', 17),
 (1904, 'Aurora', 13),
 (1905, 'Katie', 9),
 (1906, 'Alison', 14),
 (1907, 'Emma', 13),
 (1908, 'Calvin', 9),
 (1909, 'Blake', 15),
 (1910, 'Bill', 18),
 (1911, 'Dave', 17),
 (1912, 'Lizzie', 14),
 (1913, 'Carl', 15),
 (1914, 'Hannah', 13)]

In [40]:
SQL = """delete from swimmers"""
with DBcm.UseDatabase(db_details) as db:
    db.execute(SQL)

In [41]:
SQL = """select * from swimmers"""
with DBcm.UseDatabase(db_details) as db:
    db.execute(SQL)
    results = db.fetchall()
results

[]

In [42]:
SQL = """delete from swimmers"""
with DBcm.UseDatabase(db_details) as db:
    db.execute(SQL)

In [43]:
# for fn in files:
#     name, age, _, _ = fn.removesuffix(".txt").split("-")
#     with DBcm.UseDatabase(db_details) as db:
#         db.execute(SQL_INSERT, (name, age, ))

In [44]:
import os

import DBcm

db_details = "CoachDB.sqlite3"

FOLDER = "swimdata/"

files = os.listdir(FOLDER)


SQL_INSERT = """
    insert into swimmers
    (name, age)
    values
    (?, ?)
"""

with DBcm.UseDatabase(db_details) as db:
    for fn in files:
        name, age, _, _ = fn.removesuffix(".txt").split("-")    
        db.execute(SQL_INSERT, (name, age, ))

In [45]:
SQL = """delete from swimmers"""
with DBcm.UseDatabase(db_details) as db:
    db.execute(SQL)

In [46]:
import os

import DBcm

db_details = "CoachDB.sqlite3"

FOLDER = "swimdata/"

files = os.listdir(FOLDER)


SQL_SELECT = """
    select * from swimmers
    where name = ? and age = ?
"""

SQL_INSERT = """
    insert into swimmers
    (name, age)
    values
    (?, ?)
"""

with DBcm.UseDatabase(db_details) as db:
    for fn in files:
        name, age, _, _ = fn.removesuffix(".txt").split("-")
        db.execute(SQL_SELECT, (name, age,))
        if db.fetchall():
            continue
        db.execute(SQL_INSERT, (name, age,))

In [47]:
import os

import DBcm

db_details = "CoachDB.sqlite3"

FOLDER = "swimdata/"

files = os.listdir(FOLDER)


SQL_SELECT = """
    select * from events
    where distance = ? and stroke = ?
"""

SQL_INSERT = """
    insert into events
    (distance, stroke)
    values
    (?, ?)
"""

with DBcm.UseDatabase(db_details) as db:
    for fn in files:
        _, _, distance, stroke = fn.removesuffix(".txt").split("-")
        db.execute(SQL_SELECT, (distance, stroke,))
        if db.fetchall():
            continue
        db.execute(SQL_INSERT, (distance, stroke,))

In [48]:
import os

FOLDER = "swimdata/"

files = os.listdir(FOLDER)

In [49]:
import DBcm

db_details = "CoachDB.sqlite3"

In [50]:
SQL = """select * from swimmers"""
with DBcm.UseDatabase(db_details) as db:
    db.execute(SQL)
    results = db.fetchall()
results

[(1975, 'Hannah', 13),
 (1976, 'Darius', 13),
 (1977, 'Owen', 15),
 (1978, 'Mike', 15),
 (1979, 'Abi', 10),
 (1980, 'Ruth', 13),
 (1981, 'Tasmin', 15),
 (1982, 'Erika', 15),
 (1983, 'Maria', 9),
 (1984, 'Elba', 14),
 (1985, 'Ali', 12),
 (1986, 'Chris', 17),
 (1987, 'Aurora', 13),
 (1988, 'Katie', 9),
 (1989, 'Alison', 14),
 (1990, 'Emma', 13),
 (1991, 'Calvin', 9),
 (1992, 'Blake', 15),
 (1993, 'Bill', 18),
 (1994, 'Dave', 17),
 (1995, 'Lizzie', 14),
 (1996, 'Carl', 15)]

In [51]:
SQL = """select * from events"""
with DBcm.UseDatabase(db_details) as db:
    db.execute(SQL)
    results = db.fetchall()
results

[(1, '100m', 'Free'),
 (2, '100m', 'Back'),
 (3, '100m', 'Fly'),
 (4, '50m', 'Back'),
 (5, '200m', 'Free'),
 (6, '200m', 'Back'),
 (7, '50m', 'Free'),
 (8, '50m', 'Breast'),
 (9, '200m', 'IM'),
 (10, '100m', 'Breast'),
 (11, '400m', 'Free'),
 (12, '50m', 'Fly'),
 (13, '200m', 'Breast')]

In [52]:
with DBcm.UseDatabase(db_details) as db:
    db.execute("pragma table_info(times)")
    results = db.fetchall()
results

[(0, 'swimmer_id', 'INTEGER', 1, None, 1),
 (1, 'event_id', 'INTEGER', 1, None, 0),
 (2, 'time', 'varchar(16)', 1, None, 0),
 (3, 'ts', 'timestamp', 0, 'current_timestamp', 0)]

In [53]:
SQL_GET_SWIMMER = """
    select id from swimmers
    where name = ? and age = ?
"""

In [54]:
SQL_GET_EVENT = """
    select id from events
    where distance = ? and stroke = ?
"""

In [55]:
SQL_INSERT_TIMES = """
    insert into times
    (swimmer_id, event_id, time)
    values
    (?, ?, ?)
"""

In [56]:
SQL = """select * from times"""
with DBcm.UseDatabase(db_details) as db:
    db.execute(SQL)
    results = db.fetchall()
results

[(1892, 1, '1:21.43', '2025-12-16 20:39:33')]

In [57]:
SQL = """delete from times"""
with DBcm.UseDatabase(db_details) as db:
    db.execute(SQL)

In [58]:
with DBcm.UseDatabase(db_details) as db:
    for fn in files:
        name, age, distance, stroke = fn.removesuffix(".txt").split("-")
        db.execute(SQL_GET_SWIMMER, (name, age,))
        s_id = db.fetchone()[0]
        db.execute(SQL_GET_EVENT, (distance, stroke,))
        e_id = db.fetchone()[0]
        with open(FOLDER+fn) as sf:
            times = sf.read().strip().split(",")
            for t in times:
                db.execute(SQL_INSERT_TIMES, (s_id, e_id, t,))

IntegrityError: UNIQUE constraint failed: times.swimmer_id

In [ ]:
SQL = """select count(*) from times"""
with DBcm.UseDatabase(db_details) as db:
    db.execute(SQL)
    results = db.fetchone()[0]
results

1

In [ ]:
SQL = """select * from times limit 10"""
with DBcm.UseDatabase(db_details) as db:
    db.execute(SQL)
    results = db.fetchall()
results

[(1726, 1, '1:21.43', '2025-12-16 20:35:21')]