In [12]:

from DBcm import UseDatabase, SQLError

db_details = "CoachDB.sqlite3"

In [13]:
with UseDatabase(db_details) as db:
    db.execute("pragma table_list")
    results = db.fetchall()

In [14]:
results

[('main', 'times', 'table', 4, 0, 0),
 ('main', 'events', 'table', 3, 0, 0),
 ('main', 'sqlite_sequence', 'table', 2, 0, 0),
 ('main', 'swimmers', 'table', 3, 0, 0),
 ('main', 'sqlite_schema', 'table', 5, 0, 0),
 ('temp', 'sqlite_temp_schema', 'table', 5, 0, 0)]

In [5]:
SQL = """
    select time()
"""

with UseDatabase(db_details) as db:
    db.execute(SQL)
    results = db.fetchall()
results

[('19:59:40',)]

In [6]:
SQL = """
    select time()
"""

with UseDatabase(db_details) as db:
    db.execute(SQL)
    results = db.fetchone()
results

('19:59:40',)

In [7]:
SQL = """

    create table if not exists swimmers (
        id integer not null primary key autoincrement,
        name varchar(32) not null,
        age integer not null
    )
"""

with UseDatabase(db_details) as db:
    db.execute(SQL)

In [8]:
with UseDatabase(db_details) as db:
    db.execute("pragma table_list")
    results = db.fetchall()
results

[('main', 'times', 'table', 4, 0, 0),
 ('main', 'events', 'table', 3, 0, 0),
 ('main', 'sqlite_sequence', 'table', 2, 0, 0),
 ('main', 'swimmers', 'table', 3, 0, 0),
 ('main', 'sqlite_schema', 'table', 5, 0, 0),
 ('temp', 'sqlite_temp_schema', 'table', 5, 0, 0)]

In [15]:
with UseDatabase(db_details) as db:
    SQL_1 = """
        create table if not exists events (
        id integer not null primary key autoincrement,
        distance varchar(32) not null,
        stroke varchar(16) not null
    )
    """
    SQL_2 = """
        create table if not exists times (
        swimmer_id integer not null primary key autoincrement,
        event_id integer not null,
        time varchar(16) not null,
        ts timestamp default current_timestamp
    )
    """
    db.execute(SQL_1)
    db.execute(SQL_2)